/.mtebvenv
/.venv
/.venv3
data/*
!data/download_wikitext103.py
/SentEval
/runs
*.cpython*
outputlogs.*
/rankcse.*
/structcse.*
/experiments
experiment0.*
experiment1.*
experiment2.*
experiment3.*
__pycache__
final
results
scripts
hyper_search.*
*.slurm